@import '../../../App.scss';

.submenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;

    &:hover {
        background-color: $cor-secundaria;
    }

    .submenu-icone {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 25px;
        height: 25px;
    }

    .submenu-texto {
        margin-left: 5%;
    }
    
    .icone-cadastro {
        background-image: url('../../../assets/icones/cadastro.png');
    }

    .icone-vendas {
        background-image: url('../../../assets/icones/vendas.png');
    }

    .icone-produtos {
        background-image: url('../../../assets/icones/produtos.png');
    }

    .icone-financeiro {
        background-image: url('../../../assets/icones/financeiro.png');
    }

    .icone-relatorios {
        background-image: url('../../../assets/icones/relatorios.png');
    }

    .icone-sistema {
        background-image: url('../../../assets/icones/sistema.png');
    }

}