@import '../../App.scss';

.barraLateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $compensa-barra-lateral;
    background-color: $cor-principal;
    color: white;
    font-weight: bold;

    
    &:hover {
        min-width: 15%;
        width: fit-content;

        .submenu-texto {
            display: flex;
        }
    }
    
    .barraLateral-cabecalho {
        width: 100%;
        height: 20%;
    }
    
    .barraLateral-conteudo {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .submenu-texto {
        display: none;
    }

    .barraLateral-rodape {
        width: 100%;
        height: 20%;
    }

}