// Variáveis Globais
$cor-principal: #293E4D;
$cor-secundaria: #c23235;

// Tamanho da margem para compensar o recuo da barra lateral
$compensa-barra-lateral: 50px;
$compensa-barra-superior: 70px;

/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}