// Variáveis Globais
// Cores para background
$cor-principal: #293E4D;
$cor-secundaria: #c23235;
$cor-detalhe: #fc7e09;

// Cores para textos
$cor-texto-clara: #ffffff;
$cor-texto-escura: #3a3a3a;

// Arredondamento de bordas
$arredondamento-borda-padrao: 5px;

// Sombra padrão
$sombra-padrao: 3px 3px 3px 1px $cor-texto-escura;

// Tamanho da margem para compensar
// o recuo das barras laterais
$compensa-barra-principal: 20%;
$compensa-barra-lateral: 50px;
$compensa-barra-superior: 70px;

/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Animação para chacoalhar
@keyframes shake {
  0% { transform: translate(0); }
  10% { transform: translate(-10px, 0); }
  20% { transform: translate(10px, 0); }
  30% { transform: translate(-10px, 0); }
  40% { transform: translate(10px, 0); }
  50% { transform: translate(-10px, 0); }
  60% { transform: translate(10px, 0); }
  70% { transform: translate(-10px, 0); }
  80% { transform: translate(10px, 0); }
  90% { transform: translate(-10px, 0); }
  100% { transform: translate(0); }
}