@import '../../App.scss';

.barraSuperior {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    height: $compensa-barra-superior;
    background-color: rgb(255, 165, 165);
}